/*--- Genrelle indstillinger---*/

@import url("https://use.typekit.net/dms1wcw.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

img {
    width: 100%;
}

/*--- Genrelle indstillinger SLUT ---*/

/*--- fælles designregler for alle sektioner ---*/

section {
    margin: 0 auto;
}

/*--- fælles designregler for alle sektioner SLUT ---*/

/*---Header - burgermenu---*/

.kurv {
    display: none;
}

.logo_lille {
    display: block;
    position: absolute;
    top: 0.5vw;
    left: 1vw;
    margin: 0;
    width: 10%;
}

.logo_stort {
    display: none;
}


.hidden {
    display: none;
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    color: black;
    margin: 0.6rem;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    width: 100%;
}

header {
    width: 100%;
    color: white;

}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

header nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}


header nav a:hover {
    color: #937AB5;
}

header li {
    text-align: center;
}

/*---Header - burgermenu SLUT---*/

/*---Underkategorier - knapper---*/
#filter_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filter_menu button {
    cursor: pointer;
    width: 50vw;
    height: 8vw;
    margin: 1vw;
    font-family: titillium-web, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    border-color: #937AB5;

}

#filter_menu button:hover {
    background-color: #937AB5;
    color: white;

}


/*---css grid og indhold---*/

article {
    margin: 2vw;


}

#item_view {
    max-width: 1200px;
}

.alleItems {
    cursor: pointer;
    position: relative;

    line-height: 1em;
    height: 550px;
}

.alleItems img {
    /*
    width: 400px;
    height: 267px;
    object-fit: contain;
*/
    z-index: 1;
    width: 100%;
    transition: all 0.5s;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.valgt {
    background-color: #937AB5;
    color: white;
}


/*#alleItems img:hover {
    z-index: 1;
    transform: scale(1.1);

}*/

.alleItems h3 {
    font-family: titillium-web, sans-serif;
    font-weight: 300;
    font-style: normal;
}


.alleItems h4 {
    font-family: titillium-web, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: normal;
    color: #937AB5;
}

.alleItems p {
    font-family: titillium-web, sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    font-style: italic;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5px;
    margin: 10px;

}


.billede1 {
    z-index: 2;
}

.billede1:hover {
    /*    display: none;*/
    opacity: 0;
}

.billederne {
    height: 200px;
    width: 200px;

}

.information {
    position: absolute;
    top: 400px;
}

/*---css grid og indhold - Slut---*/

/*--- Footer---*/

footer {
    border-top: 0.2rem solid #937AB5;
    font-size: 1.2em;

}

#oplysninger {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
    /*    husk     */
    padding: 1em 4em;
}

#oplysninger p {
    margin: 0 0 10px 0;
}

.ikoner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 20%;
}

/*--- Footer - slut---*/

/*--- Media QUeries ---*/

@media only screen and (min-width: 600px) {

    #menu {
        text-align: center;
        justify-content: space-between;
    }

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    .logo_lille {
        display: none;
    }

    .logo_stor {
        width: 10vw;
        height: 5vh;
    }

    header li {
        display: inline-block;
        padding-right: 2rem;

    }

    #filter_menu {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 2vw;
    }

    #filter_menu button {
        width: 100px;
        height: 28px;
        font-size: 1rem;

    }

    .kurv {
        display: block;
        position: absolute;
        top: 0.5vw;
        right: 1vw;
        margin: 0;
        width: 6vw;
    }

    #oplysninger {
        justify-items: center;
        /*        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));*/
        grid-template-columns: repeat(2, 2fr);
    }

}

@media only screen and (min-width: 1000px) {
    .kurv {
        width: 3vw;
    }
}
