/*--- Genrelle indstillinger---*/

@import url("https://use.typekit.net/dms1wcw.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: titillium-web, sans-serif;
}

img {
    width: 100%;
}

/*--- Genrelle indstillinger SLUT ---*/

/*--- fælles designregler for alle sektioner ---*/

section {
    margin: 0 auto;
}

/*--- fælles designregler for alle sektioner SLUT ---*/

/*---Header - burgermenu---*/

.kurv {
    display: none;
}

.logo_lille {
    display: block;
    position: absolute;
    top: 1vw;
    left: 1vw;
    margin: 0;
    width: 25vw;
}

.logo_stor {
    display: none;
}


.hidden {
    display: none;
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    color: black;
    margin: 0.6rem;
    font-size: 2rem;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    width: 100%;
}

header {
    width: 100%;
    color: white;

}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
}

header nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}


header nav a:hover {
    color: #937AB5;
}

header li {
    text-align: center;
}

/*---Header - burgermenu SLUT---*/

/*---Underkategorier - knapper---*/
#filter_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
    width: 250px;
    height: 40px;
    margin: 1vw;
    font-family: titillium-web, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    border-color: #937AB5;

}

button:hover {
    background-color: #937AB5;
    color: white;

}

.tryk {
    text-decoration: underline;
    text-decoration-color: #937AB5;
}


/*---css grid og indhold---*/

article {
    margin: 2vw;


}

#item_view {
    max-width: 1200px;
}

.alleItems {
    cursor: pointer;
    position: relative;

    line-height: 1em;
    height: 550px;
}

.alleItems img {
    /*
    width: 400px;
    height: 267px;
    object-fit: contain;
*/
    z-index: 1;
    width: 100%;
    transition: all 0.5s;
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.valgt {
    background-color: #937AB5;
    color: white;
}


/*#alleItems img:hover {
    z-index: 1;
    transform: scale(1.1);

}*/

.alleItems h3,
.gavekort h3 {
    font-family: titillium-web, sans-serif;
    font-weight: 300;
    font-style: normal;
}


.alleItems h4,
.gavekort h4 {
    font-family: titillium-web, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    font-style: normal;
    color: #937AB5;
}

.alleItems p,
.gavekort p {
    font-family: titillium-web, sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    font-style: italic;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 5px;
    margin: 10px;

}

.billede1 {
    z-index: 2;
}

.billede1:hover {
    /*    display: none;*/
    opacity: 0;
}

.billederne {
    height: 200px;
    width: 200px;

}

.information {
    position: absolute;
    top: 400px;
}

/*---css grid og indhold - Slut---*/

/*--- Ekstern detalje side ---*/


#detalje_view img {
    z-index: 1;
    width: 100%;
    object-fit: cover;

}

#luk {
    height: 40px;
    width: 100px;
    font-size: 1.4em;
    margin-top: 20px;
}

#til_kurv {
    position: relative;
    left: 20%;
    margin-bottom: 30px;
    background-color: #937AB5;
    color: white;
    font-size: 1.4em;
}

.slideshow-container {
    position: relative;
}

.prev {
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 75vw;
    right: 3vw;
    padding: 16px;
    transition: 0.6s ease;
    font-weight: bold;
    font-size: 40px;
    user-select: none;
    color: white;
    z-index: 1;
    border-radius: 3px 0 0 3px;
}

.prev:hover {
    background-color: #937AB5;
    opacity: 0.7;
}

.dot_container {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #CDB6DD;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #937AB5;
}

/*---Ekstern detalje side - Slut---*/

/*---om  side - start ---*/

#info .sectionwrapper {
    margin-right: 20vw;
    margin-left: 20vw;
    word-spacing: 2px;
}

#info h1 {
    border-bottom: #937AB5 2px solid;
    font-family: titillium-web, sans-serif;
    font-weight: 300;
    font-style: normal;
}

#info .indhold, .indhold1, .indhold2{
     padding: 10px;
}

/*---om  side - slut ---*/

/*--- Footer---*/


footer {
    border-top: 0.2rem solid #937AB5;
    font-size: 1.2em;

}

#oplysninger {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
    padding: 1em 4em;
}

#oplysninger p {
    margin: 0 0 10px 0;
}

.ikoner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 20%;
}

.gavekort img:hover {
    opacity: 0.5;
}

.gavekort {
    line-height: 1em;
}

/*-----GAVEKORT------*/

/*--- Footer - slut---*/

/*--- Media QUeries ---*/

@media only screen and (min-width: 600px) {

    #menu {
        text-align: center;
        justify-content: space-between;
    }

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    .logo_lille {
        display: none;

    }

    .logo_stor {
        display: block;
        width: 10vw;
        height: 5vh;
    }

    header li {
        display: inline-block;
        padding-right: 2rem;

    }

    #filter_menu {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 2vw;
    }

    button {
        width: 100px;
        height: 28px;
        font-size: 1rem;

    }

    .kurv {
        display: block;
        position: absolute;
        top: 0.5vw;
        right: 1vw;
        margin: 0;
        width: 6vw;
    }

    #oplysninger {
        justify-items: center;
        /*        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));*/
        grid-template-columns: repeat(2, 2fr);
    }

    .gavekort {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-left: 10vw;
        margin-right: 10vw;
        cursor: pointer;
    }

    .gavekort1,
    .gavekort2 {
        margin: 1vw;
        width: 400px;
    }

    .prev {
        top: 75vw;
        font-size: 3em;
    }

}

@media only screen and (min-width: 1000px) {
    .kurv {
        width: 3vw;
    }

    #detalje_view img {
        height: 800px;
    }

    .tekst {
        top: 0;
    }

    #til_kurv {
        width: 150px;
        height: 40px;
        left: 0;
        margin: 0;
    }

    .prev {
        right: 54vw;
        top: 35vw;
    }

    #detalje_view {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        column-gap: 2rem;
    }
}
